{% extends 'base.html' %}

{% block userbar %}
    {% if user.is_authenticated %}
    <button class='userbar_btn btn btn_head' id='id_logout'><a href='{% url "logout" %}'>out</a></button>
    {% else %}
    <button class='userbar_btn btn btn_head' id='id_login'><a href='{% url "login" %}'>login</a></button>
    {% endif %}
{% endblock %}
{% block content %}
<div>
    <p>my balance: {{ balance }}</p>
    <p><a href='{% url "give_money" %}'>give_money</a></p>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }}</li>
            <form method="post" action="post_buy" style="display: inline;">
                {% csrf_token %}
                <button type="submit" name="product_id" value="{{ product.id }}">Купить</button>
            </form>
        {% empty %}
            <li>Нет товаров.</li>
        {% endfor %}
        </ul>
</div>
{% endblock %}